
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}


.header{
    background-color: #F0FFF0;
}
.enroll {
    text-align: center;
    
    
} 
.enroll img {
    padding-bottom: 20px;

}
h1 {
    background-color: 
}
.box-bg{
    background-color: #F8FFFB;
} 

.footer {
    bg
}
.copyright {
    padding-top: 60px;
    text-align: center;
}
.suscribe-social {
    margin-top: 80px;
    margin-bottom: 50px;
}
.social ul  {
    display: inline;
}